@import url('https://fonts.googleapis.com/css?family=Meddon|Dosis|Quicksand|Rochester|Jost:wght@300|Alegreya|Laila');

footer {
	font-family:  'Laila', serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Laila", Roboto, "Helvetica Neue", sans-serif; }
